{% extends "global/index.html" %}

{% load static %}

{% block title %}elenco{% endblock title %}

{% block content %}

<div class="col-md-5">
    <img src="{% static 'img/elenco.jpg' %}" alt="Filme Gladiador"
        class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
        height="500" role="img" focusable="false">
</div>

<div class="container">
    <h1 class="mt-4">Elenco do filme Gladiador</h1>
    <p>
        Russell Crowe como Maximus
        Joaquin Phoenix como Cómodo
        Connie Nielsen como	Lucila
        Oliver Reed como Próximo
        Richard Harris como	Marco Aurélio
        Derek Jacobi como Gracchus
        Djimon Hounsou como	Juba
        David Schofield como Falco
        John Shrapnel como Gaius
        Tomas Arana como	Quintus
        Ralf Möeller como Hagen
        Spencer Treat como Clark	Lúcio
        David Hemmings como Cassius
        Tommy Flanagan como	Cícero</p>
        
</div>
{% endblock content %}